[Unit]
Description=Deklan Node Bot (Telegram Control)
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=60
StartLimitBurst=15


[Service]
Type=simple
User=root
Group=root

# Base folder
WorkingDirectory=/opt/deklan-node-bot

# ENV file
EnvironmentFile=-/opt/deklan-node-bot/.env

# Path include Python venv
Environment="PATH=/opt/deklan-node-bot/.venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONIOENCODING=UTF-8"

# Auto Python fallback
ExecStart=/bin/bash -c '
  PYBIN="/opt/deklan-node-bot/.venv/bin/python";
  if [ ! -x "$PYBIN" ]; then
      PYBIN="$(command -v python3)";
  fi;
  exec "$PYBIN" /opt/deklan-node-bot/bot.py
'

ExecReload=/bin/kill -HUP $MAINPID

# Auto restart
Restart=always
RestartSec=3

# Logging
StandardOutput=journal
StandardError=journal

# Limits
LimitNOFILE=65535
TimeoutStopSec=25
KillMode=mixed

# Security (safe defaults)
NoNewPrivileges=yes
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
SystemCallFilter=@system-service
LockPersonality=yes
ProtectHostname=yes
RestrictRealtime=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
PrivateDevices=yes


[Install]
WantedBy=multi-user.target
