[Unit]
Description=Deklan Node Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

# Dir utama
WorkingDirectory=/opt/deklan-node-bot

# Load env
EnvironmentFile=/opt/deklan-node-bot/.env

# Virtualenv
ExecStart=/opt/deklan-node-bot/.venv/bin/python /opt/deklan-node-bot/bot.py

# Restart policy
Restart=always
RestartSec=3

# Limit improvements
LimitNOFILE=65535

# Kill behavior
KillMode=mixed

# Logging
StandardOutput=journal
StandardError=journal

# Extra env
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONIOENCODING=UTF-8"

# Time to stop properly
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
