[Unit]
Description=Deklan Node Monitor (oneshot)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root

# Load ENV
EnvironmentFile=/opt/deklan-node-bot/.env

# App dir
WorkingDirectory=/opt/deklan-node-bot

# Run monitor.py
ExecStart=/opt/deklan-node-bot/.venv/bin/python /opt/deklan-node-bot/monitor.py

# Logging
StandardOutput=journal
StandardError=journal

# Flush stdout early
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONIOENCODING=UTF-8"

# Timeout
TimeoutSec=90
KillMode=process

# oneshot → no restart
Restart=no

[Install]
WantedBy=multi-user.target
